<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include("nav.ejs") %>
    <div class="log">
        <h1>Admin Login</h1>
    <form method="POST" action="/adminlogin">
    <input type="text" name="admin_name" value="" placeholder="Enter your username" class="control" /><br><br>
    <input type="password" name="admin_pass" value="" placeholder="Enter your  password" class="control"/><br><br>
    <input type="submit" name="s" value="Login" class="control"/><br><br>   
    </form>
    <% if (msg) { %>
        <p style="color: red;"><%= msg%></p>
    <% } %>
    </div>
</body>
</html>