<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("nav.ejs") %>
    <!-- <div class="navbar"> -->
  <!-- </div> -->
  <div class="container">
    <div class="sidebar">
      <h2>Admin Panel</h2>
      <ul>
        <li><a href="/adminadd">Admin</li><br><br>
        <li><a href="/addcourse">Subject</a></li><br><br>
        <li><a href="/addexam">Exam</a></li><br><br>
        <li>Schedule</li><br><br>
        <li>Questions</li><br><br>
        <li>Schedule</li><br><br>
        <li>Rating</li><br><br>
        <li>Reviews</li><br><br>
        <li>logout</li>
        </ul>
    </div>
    </div>
</body>
</html>