<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <ul>
        <li><a href="/studentlogin">Student Login</a></li>
        <li><a href="/adminlogin">Admin Login</a></li>
       <span class="title">Welcome to Exam Application System</span>
    </ul>
</body>
</html>