<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Student Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include("studentdashboard.ejs") %>

    <br>

    <div class="form-wrapper">
        <form name="frm" action="/register" method="POST">
            <input type="text" name="name" value="" placeholder="Enter Name" class="control"/><br><br> 
            <input type="text" name="email" value="" placeholder="Enter Email" class="control"/><br><br> 
            <input type="text" name="contact" value="" placeholder="Enter Contact" class="control"/><br><br> 
            <input type="text" name="username" value="" placeholder="Enter Username" class="control"/><br><br> 
            <input type="password" name="password" value="" placeholder="Enter Password" class="control"/><br><br> 
            <input type="submit" name="s" value="Register" class="control"/>
            <% if (msg) { %>
                <p style="color: red;"><%= msg %></p>
            <% } %>
        </form>
    </div>
</body>
</html>
