<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- include("nav.ejs")%>
  <!-- <div class="navbar">
    <h1>Welcome to Exam Application System</h1>
  </div> -->

  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Student Panel</h2>
      <ul>
        <li><a href="/register">Student Register</a></li><br><br>
        <li>Student Exam View</li><br><br>
        <li>Download MCQ PDF</li><br><br>
        <li>Questions</li><br><br>
        <li>Schedule</li>
      </ul>
    </div>
  </div>
</body>
</html>
