<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include("nav.ejs") %>
    <div class="log">
        <h1>Student Login</h1>
    <form method="POST" action="/studentlogin">
    <input type="text" name="sname" value="" placeholder="Enter your username" class="control" /><br><br>
    <input type="password" name="spassword" value="" placeholder="Enter your  password" class="control"/><br><br>
    <input type="submit" name="s" value="Login" class="control"/><br><br>   
    </form>
    <p>Don’t have an account? <a href="/register" style="color:#007bff; text-decoration:none;">Register</a></p>
    <% if (msg) { %>
        <p style="color: red;"><%= msg%></p>
    <% } %>
    </div>
</body>
</html>